@import url("https://fonts.googleapis.com/css?family=Barlow|Cabin|Josefin+Sans|Krub|Libre+Franklin|Staatliches");

/*font-family: 'Krub', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Josefin Sans', sans-serif;
COMMUNITY PINT FONT font-family: 'Staatliches', cursive;
font-family: 'Barlow', sans-serif;*/

body {
  font-family: "Krub", sans-serif;
  margin: 0;
  background: url(/imgs/BG3min.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

h1 {
  font-family: "Staatliches", cursive;
  font-weight: 500;
  font-size: 3.5rem;
  margin: 0;
}

h2 {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

main {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.2) -30px, 0px,
    40px rgba(0, 0, 0, 0.1);
}

#landing {
  background: #fff;
}

#landing-text {
  display: flex;
  flex: 0 1 30vw;
  height: 50vh;

  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

#landing-text h2 {
  color: #333;
}

#landing-image {
  background-image: url(/imgs/CP3.jpg);
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0 1 70vw;
  margin: 0;
}

.btn {
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 0.5rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  transition: background 200ms ease-in;
}

.btn:hover {
  background: #b8b7b7;
}

#header {
  padding: 1.5rem;
  text-align: center;
  background: #333;
  color: #fff;
}

#header h2 {
  border-left: dotted 1px #fff;
  border-right: dotted 1px #fff;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

.caption {
  padding: 0.8rem;
  text-align: center;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.973);
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  color: #333;
}

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

#communityForm {
  text-align: left;
}

#name {
  border-radius: 10px;
}
#email {
  border-radius: 10px;
}
#nonprofitName {
  border-radius: 10px;
}
#details {
  border-radius: 10px;
}

.alert {
  text-align: center;
  padding: 10px;
  background: #79c879;
  color: #fff;
  margin-bottom: 10px;
  display: none;
}

@media (min-width: 500px) {
  #landing {
    display: flex;
    height: 100%;
  }

  #landing-text {
    height: 100vh;
  }

  #landing-image {
    height: 100vh;
  }
}

@media (max-width: 500px) {
  #landing-text {
    height: 100vh;
  }
}

@media (min-width: 700px) {
  .btn {
    padding: 1rem 3rem;
  }
}
